body {
    background-color: black;
    color: white;
    border-color: white;
    text-align: center;
}
#header {
    width: 99%;
    top: 0;
    position: fixed;
    background-color: black;
    border-style: solid
}
#logo {
    width: 25%;
    display: inline-flex;
    vertical-align: middle;
}
#navbar {
    width: 70%;
    display: inline-flex;
    vertical-align: middle;
}
table {
    width: 98%;
    table-layout: auto;
}
th {
    width: 18%
}
#content {
    margin-top: 5%;
    margin-bottom: 3%;
}
#container {
    padding: 10%
}
#footer {
    width: 99%;
    bottom: 0;
    position: fixed;
    background-color: black;
    padding: 1%;
    border-style: solid
}
a {
    text-decoration: none;
    color: white;
}