body {
    background: linear-gradient(to bottom, black, #458201, black);
    text-align: center;
}
#header {
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    font-family: 'Lobster', cursive;
    font-size: 200%;
}
#logo {
    width: 25%;
    display: inline-flex;
    vertical-align: middle;
}
#navbar {
    width: 70%;
    display: inline-flex;
    vertical-align: middle;
}
h1 {
    font-family: 'Lobster', cursive;
    color: white
}
table {
    width: 98%;
    table-layout: auto;
}
#content {
    margin-bottom: 3%;
    color: white;
    width: 80%;
    margin: auto;
}
#vision, #tokenomics, #links, #team, #rewards {
    padding-top: 10%;
    border-bottom-style: solid
}
#container{
    width: 80%;
    padding-bottom: 6%;
    display: inline-flex;
    align-items: center;
}
#footer {
    bottom: 0;
    width:100%;
    position: fixed;
    padding: 1%;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}
a{
    text-decoration: none;
    color: white
}
#bordered {
    border-style: solid;
    font-size: 120%;
}
#logotable {
    width: 15%;
}