body {
    color: white;
    text-align: center;
    background: linear-gradient(to right, black, #458201, black);
    font-family: 'Montserrat', cursive;
}
h1 {
    font-family: 'Lobster', cursive;
}
#header {
    top: 0;
    background-color: rgba(0, 0, 0, 1);
    position: fixed;
    font-size: 200%;
    width: 100%;
    z-index: 3;
    font-family: 'Lobster', cursive;
    border-bottom-style: solid
}
#logo {
    width: 25%;
    display: inline-flex;
    vertical-align: middle;
}
#navbar {
    width: 70%;
    display: inline-flex;
    vertical-align: middle;
}
#content {
    width: 75%;
    margin: auto;
    z-index: 1;
}
#footer {
    bottom: 0;
    width:100%;
    position: fixed;
    padding: 1%;
    color: white;
    background-color: rgba(0, 0, 0, 1);
    z-index: 3;
    border-top-style:solid
}
#title {
    padding-top: 7%;
}
table {
    width: 98%;
    table-layout: auto;
}
#logotable {
    width: 15%;
}
a{
    text-decoration: none;
    color: white
}
#bordered {
    border-style: solid;
    font-size: 120%;
}
.expanded {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.9);
  }
#picture {
    cursor: pointer;
}
#sidebyside1 {
    display: inline-flex;
    padding: 0;
    width: 20%;
    vertical-align: middle;
    opacity: 0;
    animation-name: fadeIn;
    animation-delay: 2s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}
#sidebyside2 {
    display: inline-flex;
    width: 50%;
    vertical-align: middle;
}
#rewards {
    padding-bottom: 10%;

}
.fade-in {
    opacity: 0;
    animation-name: fadeIn;
    animation-delay: 2s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}
.quick-in{
    opacity: 0;
    animation-name: fadeIn;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.shrink-image {
    animation: shrink 2s ease-out forwards;
  }
  
  @keyframes shrink {
    from {
      transform: scale(2.5);
    }
    to {
      transform: scale(1);
    }
  }
#wide {
    width : 80%;
    margin: auto
}
#buybutton {
    background: linear-gradient(to top, #458201, black,#458201);
    border-radius: 10px;
}
#backplate {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    border-style: solid;
    margin:auto;
    border-color: white;
    padding: 2%
}