body {
    background-color: black;
    color: white;
    border-color: white;
    text-align: center;
}
#header {
    width: 98%;
    border-style: solid;
    position: absolute;
    top: 0;
}
#logo {
    width: 25%;
    display: inline-flex;
    vertical-align: middle;
}
#navbar {
    width: 70%;
    display: inline-flex;
    vertical-align: middle;
}
table {
    width: 100%;
    table-layout: auto;
}
th {
    margin: auto;
}
#footer {
    width: 98%;
    border-style: solid;
    position: absolute;
    bottom: 0;
}