body {
    background: linear-gradient(to bottom, black, #458201, black);
    text-align: center;
    font-family: 'Lobster', cursive;
    color: white
}
#header {
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    font-family: 'Lobster', cursive;
    font-size: 200%;
    width: 100%
}
#logo {
    width: 25%;
    display: inline-flex;
    vertical-align: middle;
}
#navbar {
    width: 70%;
    display: inline-flex;
    vertical-align: middle;
}
table {
    width: 98%;
    table-layout: auto;
}
#content {
    color: white;
    width: 80%;
    margin: auto;
}
#title {
    padding-top: 10%;
    border-bottom-style: solid
}
#footer {
    bottom: 0;
    width:100%;
    position: fixed;
    padding: 1%;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}
a{
    text-decoration: none;
    color: white
}
#bordered {
    border-style: solid;
    font-size: 120%;
}
#logotable {
    width: 15%;
}
.expanded {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.9);
  }
#picture {
    cursor: pointer;
}
#sidebyside {
    display: inline-flex
}
#rewards {
    padding-bottom: 10%
}