body {
    background-color: black;
    color: white;
    border-color: white;
    text-align: center;
}
#header {
    width: 98%;
    top: 0;
}
#logo {
    width: 25%;
    display: inline-flex;
    vertical-align: middle;
}
#navbar {
    width: 70%;
    display: inline-flex;
    vertical-align: middle;
}
table {
    width: 100%;
    table-layout: auto;
}
th {
    width: 15%
}
#content {
    margin-top: 1%;
    margin-bottom: 1%;
}
#container {
    border-style: solid;
    padding: 10%
}
#footer {
    width: 98%;
    bottom: 0;
}