body {
    background-color: #458201;
    border-color: white;
    text-align: center;
}
#header {
    top: 0;
    width:100%;
    position: fixed;
    background-color: #458201;
    font-family: 'Lobster', cursive;
    font-size: 200%;
    color: #458201;
}
h1 {
    font-family: 'Lobster', cursive;
    color: white

}
#logo {
    width: 25%;
    display: inline-flex;
    vertical-align: middle;
}
#navbar {
    width: 70%;
    display: inline-flex;
    vertical-align: middle;
}
table {
    width: 98%;
    table-layout: auto;
}
tr {
    width: 80%;
}
td {
    width: 15%;
    font-size: 125%;
}
#content {
    margin-bottom: 3%;
    color: white;
    background-color: black;
    width: 80%;
    margin: auto
}
#vision, #tokenomics, #links, #team, #rewards {
    padding-top: 10%;
    background-color: black
}
#container{
    width: 80%;
    padding-bottom: 6%;
    display: inline-flex;
    align-items: center;
}
#texthalf, #mediahalf {
    width: 65%;
    vertical-align: middle;
    margin: 3%
}
#footer {
    bottom: 0;
    width:100%;
    position: fixed;
    background-color: #458201;
    padding: 1%;
    color: white;
}
a {
    text-decoration: none;
    color: white
}